body {
	background-color: #efefef;
	font-family: 'Ubuntu', sans-serif;
}

.text-center {
	text-align: center;
	font-weight: bold;
	color: #094099;
	font-family: 'Ubuntu', sans-serif;
}
.text-left {
	text-align: left;
	font-weight: 600;
	color: black;
}

.nav-left {
	text-align: left;
}
.form {
	text-align: center;
	margin: 30px auto 50px auto;
	font-family: 'Ubuntu', sans-serif;
}

.input {
	margin-top: 5px;
	color: #ff383f;
	font-size: 26px;
}

.button-buffer {
	margin-top: 5px;
	color: white;
}

.homeIntroLg {
	text-align: center;
	font-size: 76px;
	color: #a9a9a9;
	margin: 75px auto 200px auto;
	background-color: #caebf2;
	border-radius: 10px;
	width: 30%;
	padding: 30px;
}
.homeIntroMd {
	text-align: center;
	font-size: 36px;
	color: #2370c4;
	margin-bottom: 125px;
}

.houseItems a {
	margin: 10px;
	font-size: 26px;
	font-weight: bold;
	cursor: pointer;
	color: #ff383f;
}

.navList a {
	margin: 10px;
	font-size: 26px;
	font-weight: bold;
	cursor: pointer;
	color: #a9a9a9;
}

.homeNav {
	margin-top: 1000px;
}

.item-container {
	width: 400px;
	height: auto;
	background-color: #a9a9a9;
	border: 1px solid #a9a9a9;
	border-radius: 10px;
	color: #caebf2;
	float: left;
	padding: 10px;
	margin: 10px;
	font-size: 26px;
}

.iconContainer {
	text-align: center;
	margin: 75px;
}

.imgStyle {
	background-color: #a9a9a9;
	padding: 70px;
	border-radius: 50%;
}

.centerCaption {
	text-align: center;
	padding: 25px;
	font-size: 28px;
}
